__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/
lib/
share/
Include/
.env
.git/
.cursor/
backend/storage/resultados/*
backend/storage/usuarios/*
backend/storage/investigaciones/*
backend/storage/productos/*
!backend/storage/**/config.json
frontend/configs/*.json
!frontend/configs/config_system.json
